
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

.input-field {
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  color: #111827;
  transition: all 0.2s ease;
}

.input-field:focus {
  border-color: #2563eb;
}


.dark .input-label {
  color: #f1f5f9;
}

.dark .input-field {
  background-color: #1e293b;
  color: #f1f5f9;
  border: 1px solid #475569;
}

.dark .input-field:focus {
  border-color: #3b82f6;
}
